/*Add a new stylesheet called large.css to your index.html.
In this stylesheet, define the desktop-width styles that do affect how things are arranged on your page.*/

/* Themes */
/*don't affect how things are arranged on your page, just how they look: font colors, font faces, font weights, italics, text decorations, background colors, box shadows, border radii
cream: #EDDFC1
blue: #1C4678
grey: #3B3A35
orange: #FF644F
purple: #5F3447*/

html{
  height:100%;
}

body {
  min-height:100%;
  background-color:#EDDFC1;
  color:#1C4678;
  min-height:100%;
  font-size:16px;
}

img {
  border-radius:5px;
  box-shadow:2px 2px 2px grey;
}

header a {
  color:#5F3447;
}

header a:hover {
  color:#FF644F;
}

.box {
  /*border:solid 2px #3B3A35;*/
  color:#FF644F;
  background:#1C4678;
  border-radius: 5px;
  box-shadow:2px, 2px, 3px, grey;
}

.box:hover{
  background:lightblue;
  /*box-shadow:0px 0px 70px 20px lightblue;*/
}

#social a, #projects a{
  color:#FF644F;
}

#social a:hover, #projects a:hover {
background:lightblue;}


/* Layout */
header {
  width:100%;
  margin:0 auto;
  text-align:center;
}

body{
  font-size:16px;
}

main{
  margin:1% auto;
  text-align:justify;
  /*border-bottom: 2px solid #3B3A35;*/
  width:80%;
}

#image {
  text-align:center;
}

header{

  text-align:center;
}

header h1{
  font-size:6em;
  margin:0;
}

header p {
  font-size:1.25em;
  margin-top:0;
  margin-bottom:20px;
  font-style: italic;
}

h2 {
  font-size:1.5em;
  margin: 1% 2%;
}


p {
  text-indent:2.5em;
  margin: 2% 2%;
  font-size:1.25em;
}

/*#projects {
  width:75%;
  border-top:1px solid #3B3A35;
  text-align:center;
  margin:0 auto;
}*/

#social, #projects {
  width:75%;
  border-top:1px solid #3B3A35;
  text-align:center;
  margin:0 auto;
}

.box {
  width:150px;
  text-align:center;
  font-size:1.25em;
  padding:10%;
}

#social a, #projects a {
  display:inline-block;
  margin:2% 2%;
}
