/*don't affect how things are arranged on your page, just how they look: font colors, font faces, font weights, italics, text decorations, background colors, box shadows, border radii
cream: #EDDFC1
blue: #1C4678
grey: #3B3A35
orange: #FF644F
purple: #5F3447*/

html{
  height:100%;
}

body {
  min-height:100%;
  background-color:#EDDFC1;
  color:#1C4678;
  min-height:100%;
  font-size:16px;
  font-family: 'Slabo 27px', serif;
}

img {
  border-radius:5px;
  box-shadow:2px 2px 2px grey;
}

header a {
  color:#5F3447;
}

header a:hover {
  color:#FF644F;
}

.box {
  border:solid 2px #3B3A35;
  background:#1C4678;
}

.box:hover{
  background:lightblue;
}

#social a{
  color:#FF644F;
}

#social a:hover {
background:lightblue;}
